<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ShowMessages</title>
</head>
<body>
    <div>
        <input type="button" value="上一条" id="prevM" name="prevM" href="{:U('Views/DisplayMessages/showDemo?id=1')}"/>
        <input type="button" value="下一条" id="nextM" name="nextM" onclick="fun_next()"/>
    </div>


    <script type="text/javascript">
        function fun_prev(){

//            alert("1");
        }
        function fun_next(){
//            alert("2");
        }
    </script>
</body>
</html>