<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>我的地址</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<link type="text/css"  rel="stylesheet" href="__PUBLIC__/home/style/style.css"/>
<script type="text/javascript" src="__PUBLIC__/home/js/jquery-2.2.4.min.js"></script>
    
</head>

<body style="background:#EBEBEB">
 <div id="box">
      <div id="header" style="margin-bottom:0">
             <a href="{:U('Send/vip_center')}">
                 <div class="return">
                     <img src="__PUBLIC__/home/images/fanhui.png" width="26" height="26" />
                 </div>
             </a>
              <div class="indent">我的地址</div>
      </div>
       <div class="affirm"><input type="button" value="确 定"/></div>
   
 </div>
 
 



  
</body>
</html>
