<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>设置密码</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<link type="text/css"  rel="stylesheet" href="__PUBLIC__/home/style/style.css"/>
<script type="text/javascript" src="__PUBLIC__/home/js/jquery-2.2.4.min.js"></script>
 <script type="text/javascript">
	 $(function() {
	    $('#vanish').click(function(){
			$("#einrichten").hide();	
			});
		});
	</script>
</head>
<body style="background:#EBEBEB">
<include file="Common:common"/>
<input type="hidden" value="{$res_return}" class="ress">
<form action="{:U('set_password_action')}" method="post" id="form_id">
 <div id="box">
      <div id="header">
          <a href="{:U('Send/vip_center')}">
              <div class="return">
                  <img src="__PUBLIC__/home/images/fanhui.png" width="26" height="26" />
              </div>
          </a>
          <div class="indent">设置密码</div>
      </div>
      <div class="freight" style="margin-top:3%">密码
          <input type="password" name="password"/>
      </div>
      <div style="border-bottom:#F0F0F0 1px solid; "></div>
       <div class="freight">确认密码<input type="password" style="width:50%;" name="repassword"/></div>
       <div class="affirm"><input type="button" class="login" value="确 认"/></div>
       <div id="einrichten">
           <div class="chenggong">
             <div id="vanish"><img src="__PUBLIC__/home/images/icon-off.jpg" width="25" height="26" /></div>
             <div class="wally"><img src="__PUBLIC__/home/images/chenggong.png" width="37" height="41" />  密码设置成功！</div>
           </div> 
       </div>
 </div>
 </form>
</body>
</html>
<script type="text/javascript">
    $('.login').click(function(){
        var password=$("input[name=password]").val();
        var repassword = $("input[name=repassword]").val();
        if(password==''||password==null){
            tanchu('请填写密码！');
            return;
        }
        else if(repassword==''||repassword==null)
        {
            tanchu('请填写确认密码');
            return;
        }
        else if(password!=repassword)
        {
            tanchu('请确认您的密码');
            return;
        }
        else
        {
            $("#form_id").submit();
        }
    });
    $(function(){
        if($('.ress').val()==0)
        {
            $("#einrichten").show();
        }
        else
        {
            $("#einrichten").hide();
        }
    });
</script>
