<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>车主订单</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<link type="text/css"  rel="stylesheet" href="__PUBLIC__/home/style/style.css"/>
<script type="text/javascript" src="__PUBLIC__/home/js/jquery-2.2.4.min.js"></script>
</head>

<body style=" background:#EAECEB">
 <div id="box">
    <div id="header">
         <div class="return"><img src="__PUBLIC__/home/images/fanhui.png" width="33" height="33" /></div>
          <div class="indent">我的订单</div>
          <div class="omit"><img src="__PUBLIC__/home/images/shenglv.png" width="33" height="33" /></div>
     </div>
    <!-- <volist name="" id="">-->
     <div id="matter">
          <div class="headline">
             <div class="date">7月8日</div>
             <a href="#"><div class="underway">进行中...</div></a>
          </div>
          <div class="address"><img src="__PUBLIC__/home/images/lanse.png" width="20" height="23" />
            <input type="text" value="山东省济南市历下区天辰路699号" /></div>
          <div class="address"><img src="__PUBLIC__/home/images/cheng.png"width="20" height="23" />
           <input type="text" value="河北省廊坊市安次区和平路79号药品公司" /></div>
           <div class="nom">
              <div class="yaopin">货物名称：药品</div>
              <div class="count">货物数量：60箱</div>
              <div class="skip"><img src="__PUBLIC__/home/images/zhuandao.png" width="10" height="16" /></div>
           </div>
           
     </div>
    <!-- </volist>-->
     <div class="rank"></div>

     <div class="rank" style=" margin-bottom:10%"></div>
  
 </div>
</body>
</html>
