<script type="text/javascript" src="__PUBLIC__/home/js/jquery-2.2.4.min.js"></script>
<style type="text/css">
    #line-chart {
        height:300px;
        width:800px;
        margin: 0px auto;
        margin-top: 1em;
    }
    .brand { font-family: georgia, serif; }
    .brand .first {
        color: #ccc;
        font-style: italic;
    }
    .brand .second {
        color: #fff;
        font-weight: bold;
    }
    #tanchuang{
        display:none;
        font-size:25px;
        text-align:center;
        border-radius:10px;
        color:white;
        position:fixed;
        top:34%;
        left:15%;
        right:40%;
        bottom:40%;
        min-width:250px;
        height:50px;
        line-height:50px;
        margin:0 auto;
        background:rgba(0,0,0,0.8);
        z-index:9999999999;
    }
    input {
        border:1;
    }

</style>
<script>
    function tanchu(text){
        $("#tanchuang").html(text);
        $("#tanchuang").show();
        setTimeout(function(){$("#tanchuang").fadeOut(2000)},2000);
    }
</script>
<div id="tanchuang">
    错误
</div>
